@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

.day {
    display: inline-block;
}


.date {
    margin: 0px;
    text-align: center;

    background-color: blue;
    color: white;
    font-family: 'Lato';
    font-weight: 700;
    font-size: 1.5em;
}

.temperature {
    margin: 0px;
    font-family: lato arial;
    text-align: center;
    font-weight: 400;
    font-size: 2em;
}


div:hover {
    padding: 0px;
    margin: 0px 3px 0px 3px;
    box-shadow: 3px 2px 0.5em gray, -2px 2px 0.5em gray; 
}