img {
    margin-top: 50px;
}

.counter {
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    right: 0;
    width: 100%;

}

.text {
    background: rgba(255, 0, 0, 0.7);
    padding: 10px;
    border-radius: 30px;
    position: absolute;
    top: 0;
    right: 0;
}