h1 {
    color: hotpink;
}
h2 {
    color: gray;
    text-align: center;
}
.buttons {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin: 50px 0px;
}

.labele {
    padding: 20px 40px;
    text-align: center;
    border: 1.5px solid gray;
    border-radius: 25px;
    background: white;
    color: gray;
    font-family: 'Source Sans Pro', sans-serif;
}

.checkbox {
    display: none;
}

#defeat:checked ~ .button_1_1_style, #civilian:checked ~ .button_1_2_style, #robbery:checked ~ .button_1_3_style,
#apocalypse:checked ~ .button_2_1_style,  #sidekick:checked ~ .button_2_2_style, #stuff:checked ~ .button_3_1_style{
    background-color: darkblue;
    color: white;
}

#defeat:checked ~ .button_1_1_style:after, #civilian:checked ~ .button_1_2_style:after, #robbery:checked ~ .button_1_3_style:after,
#apocalypse:checked ~ .button_2_1_style:after,  #sidekick:checked ~ .button_2_2_style:after, #stuff:checked ~ .button_3_1_style:after{
    margin-left: 10px;
    content: ' \2713';
    background-color: darkblue;
    color: white;
}

.Job_details {
    padding: 0px 30px;
    display: flex;
    flex-flow: row;
}

.details {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: 100%;
}

.name, .email {
    margin-top: 20px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    width: calc(100% - 50%);
}

.name {
    margin-right: 50px;
}

.button_send {
    margin-top: 40px;
    display: flex;
    justify-content: center;
}

button {
    margin: 0px 30px;
    width: 100%;
    background-color: lightcoral;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

input {
    border: none;
    border-bottom: 1px solid black;
}
