.main_box {
    display: flex;
    flex-flow: column;
    align-items: center;
}

button {
    background-color: #449DF2;
    border-radius: 5px;
    border: none;
    padding: 10px;
    margin: 10px;
    color: white;

}

.buttons_box {
    display: flex;
    flex-flow: row;
    width: 530px;
}
.clearStorage {
    margin-left: 280px;
    background-color: #F0F0F0;
    color: black;
}

.input_box{
    width: 480px;
}

.input_field {
    width: 100%;
    border: 2px solid #6BAFF2;
    border-radius: 5px;
}

.input_fields {
    padding: 20px;
    width: 500px;
    border-radius: 5px;
    background-color: #F0F0F0;
}

.output_field {
    margin-top: 10px;
    padding: 2px 20px 20px 20px;
    width: 500px;
    border-radius: 5px;
    background-color: #f0f0f0;
}

.out_data {
    width: 480px;
    background-color: white;
    min-height: 30px;
}