* {
    margin: 0;
    padding: 0;
}
body {
    background: rgb(20,20,20); 
}
h1 {
    color: rgb(34, 139, 34);
    text-align: left;
    font-family: "Gill Sans", sans-serif;
}
h3 {
    text-align: center;
}

.next_page_link {
    color: grey;
}

.pagintion_box {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding-top: 40px;
}

.prod_cost, .text_filters, h3 {
    color: grey;
}
.not_available {
    color: red;
}

.copyright, .mail {
    color: grey;
    padding-top: 50px;
    margin-left: 40px;
}

.available {
    color: green;
}

.grass_image {
    padding: 10px;
    width: 300px;
    height: 300px;
}

.prod_cost, .availability {
    margin-left: 40px;
}

.buy_button_area, footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
}

.buy_button {
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}



.products {
    display: flex;
    flex-flow: row wrap;
}


.product_content {
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    width: 300px;
    color: white;
    border: 2px solid black;
}

.header {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 10px;
    width: 100%;
    background-color:rgb(222, 184, 135);
}

.breadcrumbs {
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    width: 100%;
    background-color:rgb(218, 165, 32);
}
.text_breadcrumbs {
    text-align: left;
}

.search_box {
    border: none;
    margin-top: 10px;
    height: 20px;
    background: rgb(222, 184, 135);
    color: black;
}

.search_box {
    width: 200px;
    margin-left: 40px;
    border-bottom: 1px solid black;
}

.header_data {
    color: rgb(34, 139, 34);
    text-align: left;
    margin: 15px;
    margin-left: 30px;
}

.filters {
    padding: 15px;
    width: 140px;
    border: 2px solid black;
    float: left;
}
