form {
    border: 2px solid gray;
    padding: 20px;
}
.firs_data {
    border: 2px solid gray;
    padding: 20px 20px 20px 20px;
}

textarea {
    margin: 15px 0px 0px 0px;
}

.About_the_superhero {
    position: relative;
    background-color: white;
    bottom: 45px;
    margin-bottom: -30px;
    width: 135px;
}

.No_file_chosen {
    font: 13px Arial;
}

.second_box {
    border: 2px solid gray;
    padding: 20px;
    margin: 10px 0px 0px 0px;
}

.Powers {
    position: relative;
    background-color: white;
    bottom: 45px;
    margin-bottom: -30px;
    width: 47px;
}

.three {
    border: 2px solid gray;
    padding: 30px;
    margin: 10px 0px 0px 0px;
}

.Origin_of_powes {
    position: relative;
    background-color: white;
    bottom: 55px;
    margin-bottom: -30px;
    width: 107px;
}

.reset {
    margin: 15px 0px 15px 10px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}

.send {
    margin: 15px 0px 15px 5px;
    background-color: white;
    border: 1px solid gray;
    border-radius: 4px;
}
